{% if messages[0]['role'] == 'system' %}
  {{ '<|turn>system\n' + messages[0]['content'] + '<turn|>\n' }}
  {% set loop_messages = messages[1:] %}
{% else %}
  {% set loop_messages = messages %}
{% endif %}
{% for message in loop_messages %}
  {% if message['role'] == 'user' %}
    {{ '<|turn>user\n' + message['content'] + '<turn|>\n' }}
  {% elif message['role'] == 'model' %}
    {{ '<|turn>model\n' + message['content'] + '<turn|>\n' }}
  {% endif %}
{% endfor %}
{{ '<|turn>model\n' }}